<div class="container center">
  <div *ngIf="!movieList.length">No media available.</div>

  <div *ngIf="movieList.length" class="row">
    <video class="p-4 border col-sm-10 col-md-6" height=300 controls>
      <source [src]="currentMovie" type="video/mp4">
      <source [src]="currentMovie" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>

  <div *ngFor="let movie of movieList" class="row">
    <button class="col-3" (click)="chooseMovie(movie)">{{movie}}</button>
  </div>
</div>